/* 
BACKGROUNDS
	body
		#3E4F50
	#left
		#BEB58C
	#right
		#E0D596
	#content
		#FBF2E3
	#head h1
		#C4C59D

TEXTS
	body, h1, pre, #head h1
		#564b47
	a
		#3E4F50
	#foot, #foot a
		#A69B5E
*/

html { 
  padding:0em;
  margin:0em;
}

body {
  background-color: #3E4F50;
  font-size: 80%;
  font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
  color:#564b47;  
  text-align:center;
	margin:0em;
	padding:0em;
}

img {
border:0em;
}

#logo {
color:#fff;
border:0em;
    font: Consolas, "Andale Mono", "Lucida Console", "Courier New", monospace;
}
#logo a, #logo a:hover, #logo a:visited, a.subtlelink, a:hover.subtlelink {
color:#fff;
text-decoration: none;
}

#profmug {
float:right;
text-align:right;
padding-right:1em;
}


p, pre, h1, h2, table, ul {
margin:0em 0.625em 0.625em 0.625em;
font-size: 1.25em;
  font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
}

.notification {
margin-top:0.1em;
font-size:1.25em;
}

.plike {
padding:0.625em 0.625em 0.625em 0.625em;
}


h1, h2 {
font-size:1.32em;
padding-top:0.625em;
color: #564b47;
background-color: transparent;
	}

h2 {
font-size:1.25em;
font-weight:bold;
}

a { 
color: #3E4F50;
background-color:transparent;
text-decoration: underline; 
}

a:hover {
color: #526A61;
}

p a, p a:hover, a.subtlelink, a:hover.subtlelink {
text-decoration: none;
}



#left a:hover, #extraright a:hover {
color: #2F3D3D;
}

/*
pre { 
color: #564b47;
background-color:transparent;
font-family: Courier, Monaco, Monospace;
}
*/

.smaller {
font-size:1.125em;
}

/*  positioning-layers static and absolute */

#box {
width:80em;
margin: 0em auto;
padding:0em;
text-align:left;
}

/* safety (IE) default width in absolute measurements ... */
#left, #right, #extraright {
width:14.583em;
}

ul {
list-style-type: none;
text-indent: -2em;
}

.arrows li:before {
content: "\00BB \0020";
}


#left {
width:16em;
padding:0em;
float:left;
background-color:#BEB58C;
}

#right {
width:16em;
padding:0em;
float:left;
background-color:#E0D596;
}

#extraright {
width:16em;
padding:0em;
float:right;
background-color:#BEB58C;
}

#content {
width:48em;
padding:0em;
float:left;
background-color:#FBF2E3;
overflow: visible;
z-index: 0;
}

#left, #right, #content {
min-height:33em;
}

#extraright {
min-height:30em;
}

#head {
width:80em;
background-color:transparent;
}

#head h1 {
font-size: 1em;
text-align: right;
color: #564b47;
background-color: #C4C59D;
padding:0.5em 0.5em;
margin:0em
}

.up {
text-transform:uppercase;
}

#head p {
padding:0.625em;
margin:0em;
}

#foot, #foot a {
color: #A69B5E;
font-size: 1.167em;
}

/* relevant to forms */
/* first tidbit: common thin borders. */

.input, .input:hover, .button, .button:hover, #windeye {
color: #564b47;
border: 0.083em solid #564b47;
font-size:1.25em;
}

.input {
    background: #fff;
}
.input:hover {
    background: #ffe;
}
.button {
    background: #F2F2ED;
    float:right;
}
.button:hover {
    color: #fff;
    border-color: #3E4F50;
    background: #759895;
}
/*
label {
    display: block;
    width: 150px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: right;
}
br { clear: left; }
*/

/*tables in django forms ...*/

td {
vertical-align: top;
}

td.weirdformat {
text-align: left;
vertical-align: middle;
}

.hiddenextra {
width: 100%;
display: none;
}

/* once in the room ...*/

.wrappa {
width:99%;
margin-left: auto;
margin-right: auto;
}

#windeyelid {
width:100%;
margin-left: auto;
margin-right: auto;
}

#windeye {
min-height: 24em;
width: 95%;
border: 1px solid;
padding: 0.5em;
margin-left: auto;
margin-right: auto;
overflow: visible;
background-color: white;
}
#windeye {
font-size:1.25em;
z-index:50;
}

#windeyetext {
}

#metercontainer {
position: relative;
bottom: 0.3em;
right: 1.1em;
}

#meter {
position: absolute;
bottom: 0em;
right: 0em;
color: white;
}

#printcontainer {
position: relative;
top: 1em;
right: 1.1em;
}

#print {
position:absolute;
top:0em;
right:0em;
border:0em;
}

#spinner {
width:1em;
height:1em;
padding:0em;
margin:0em;
}


/*TOOLTIPS*/

.tooltip, .tt {
  border-bottom: 1px dotted #564b47;
  color: #564b47; outline: none;
  cursor: help; text-decoration: none;
  position: relative;
}
#windeye .tooltip, #windeye .tt {
  border-bottom: 0px;
}
.tooltip span, .tt span {
  margin-left: -999em;
  position: absolute;
  text-align: justify;
}

.tt span {
  text-align:left;
}

.tooltip:hover span, .tt:hover span {
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  min-width: 12em;
  width: auto;
}

.tooltip:hover span, .tooltip:hover span a, .tooltip:hover span a:hover, .tt:hover span, .tt:hover span a, .tt:hover span a:hover {
color:#564b47;
font-size:0.82em;
font-style:italic;
font-weight:normal;
font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
}

.tooltip:hover img, .tt:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}
.tooltip:hover em, .tt:hover em, {
  display: block;
color:#564b47;
  padding: 0.2em 0 0.6em 0;
}
.classic, .cl { padding: 0.7em 0.9em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }

/*TOOLTIP COLOR SCHEMES*/
.classic, .cl { background: #FFF; border: 1px solid #BEB58C; }
.critical { background: #FFCCAA; border: 1px solid #FF3334; }
.help { background: #9FDAEE; border: 1px solid #2BB0D7; }
.info { background: #9FDAEE; border: 1px solid #2BB0D7; }
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }
