{% extends "site_base.html" %}
{% load i18n %}

{% block title %}poetry.party{% endblock %}
	

{% block content_header %}
	{% if not user.is_authenticated %}
		Welcome to poetry.party
	{% else %}
		Greetings, {{ user.username }}.
	{% endif %}
{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		<p><b><a href="/instructions/">Instructions</a></b> | <b><a href="/poems/create/">Create new poem »</a></b></p>

		<h2>All poems</h2>
		<p class="smaller"><i>This list does not automatically update (but the <b><a href="/">recent poems</a></b> list does).</i></p>
		<p>
			<ul class="arrows" id="allpoems">
				{% for poem in poems %}
					<li><a href="/poems/view/{{poem.id}}">{{poem.title}}</a>{% if not poem.pub_date %} (open){% endif %}</li>
				{% endfor %}
			</ul>
		</p>
	{% else %}
		<h2>Introduction</h2>
		<p>
			This application is a multiplayer/participatory game/performance (even tool) geared towards the spontaneous, algorithmically-assisted generation of poetic texts.
			It is designed for several people to play at once, but solitary players are also welcome.
		</p>
		
		<h2>Getting started</h2>
		<p>Start by <b><a href="/instructions/">reading the instructions</a></b>, <b><a href="/poems/guest/">signing in as a guest</a></b>, or <b><a href="/accounts/signup/">registering</a></b> your username.</p>
	{% endif %}
{% endblock %}