{% extends "site_base.html" %}
{% load i18n %}

{% block title %}Contact | poetry.party{% endblock %}
	

{% block content_header %}
Contact
{% endblock %}

{% block content %}
	<p>Please contact me about any bugs, suggestions, questions, or other comments.</p>
	<ul><li><b>Email:</b> neonwhales <b>-~=at=~-</b> gmail <b>-~=dot=~-</b> com</li>
	<li><b>Twitter:</b> @seafangs</li></ul>
	<p class="smaller"><i>P.S. I am looking for collaborators in continuing the development of this application,
	so if that interests you, let's get talking!</i></p>
{% endblock %}