{% extends "site_base.html" %}
{% load i18n %}

{% block title %}poetry.party{% endblock %}
	

{% block content_header %}
	{% if not user.is_authenticated %}
		Welcome to poetry.party
	{% else %}
		Greetings, {{ user.username }}.
	{% endif %}
{% endblock %}

{% block content %}

  


	{% if user.is_authenticated %}
		<p><b><a href="/instructions/">Instructions</a></b> | <b><a href="/poems/create/">Create new poem »</a></b></p>
		<p>Below is a list of all recent poems on this site. Poems marked as <i>open</i> are still open for writing.</p>
		<h2>Recent poems</h2>
		<p>
			<ul class="arrows" id="allpoems">
				{% for poem in recent_poems %}
					<li><a href="/poems/view/{{poem.id}}">{{poem.title}}</a>{% if not poem.pub_date %} (open){% endif %}</li>
				{% endfor %}
			</ul>
		</p>
		<p><ul><li><a href="/allpoems/" style="text-decoration:none;"><i>View all poems »</i></a></li></ul></p>
{#    <h2>The future of this project (October 2012)</h2>#}
{#    <p>Because of the time constraints conflicting with how great I want this application to be, it really needs to be rewritten from the ground up. This will certainly happen, but I am not sure yet whether it will happen before or after I find another host. I'll update this site when I have some more information.#}
  </p>
		<script>
		   new Ajax.PeriodicalUpdater('allpoems', "{% url poems.views.getpoems number=13 %}", {
		     method: 'get', frequency: 5, decay: 1
		   });
		</script>
	{% else %}
		<h2>Introduction</h2>
		<p>
			This application is a multiplayer game/performance geared towards the spontaneous generation of poetic texts.
		</p>

		<h2>Getting started</h2>
		<p>Start by <b><a href="/instructions/">reading the instructions</a></b>, <b><a href="/poems/guest/">signing in as a guest</a></b>, or <b><a href="/accounts/signup/">registering</a></b> your username.</p>
	{% endif %}
{% endblock %}
