{% extends "site_base.html" %}
{% load i18n %}

{% block title %}Instructions | poetry.party {% endblock %}

{% block extrahead %}

{% endblock %}
	

{% block content_header %}
 How to Write Poems on <i>poetry.party</i>
{% endblock %}

{% block content %}

<div id="windeye" style="text-align:justify; text-indent:1.5em; font-size:1em; height: 24em; overflow:auto;">
	
	<p><b>To begin:</b> Somebody creates a poem-session, providing a
	prompt if desired. Other participants can join from the
	homepage.</p>
	<p>The poem begins as a blank page. All participants can input
	text simultaneously. Somebody types a sequence of words and
	punctuation then presses "Submit" or hits the return key.
	Another person does the same.</p>
	<p>These two entries are combined into one output. The output
	will rarely be identical to either submission. By putting your
	cursor over any part of the poem, you can see what inputs were
	used to produce it.</p>
	<p>The cycle of submitting text, reading the changed poem,
	and then submitting more text repeats indefinitely.
	Reading the poem aloud alone or together is recommended.</p>
	<p><b>To finish:</b> At any point the creator may "publish" the poem,
	thereby preventing any further input and freezing the text.
	Poem-sessions that have not been published remain editable
	by any user on the site until they are published.</p>
	<hr/>
	<p class="smaller" style="text-indent:0em;"><b>words:</b> poetry.party is only equipped to handle words in its
	dictionary, which includes many proper nouns, but not all of them.</p>
	
	<p class="smaller" style="text-indent:0em;"><b>special characters:</b> To input a horizontal tab, type *t. To input a line-
	break, type *n.</p>
	
</div>
<br/>
	<p style="text-align:center;">
		{% if user.is_authenticated %}
			 &laquo; <a href="/">Browse poems </a> | <a href="/poems/create/">Create a new poem &raquo;</a></b>
		{% else %}
			<a href="/accounts/signin/">Sign in</a> or <a href="/accounts/signup/">register</a> to read & write poems.</b>
		{% endif %}
	</p>

{% endblock %}