{% extends "site_base.html" %}
{% load i18n %}

{% block title %}404 | poetry.party{% endblock %}
	

{% block content_header %}
	Error 404 - Not Found
{% endblock %}

{% block content %}

		<p>
			I seem to have misplaced the page you were looking for.
		</p>
		<p class="smaller">
			If this doesn't seem right, please <a href="/contact/">let us know</a>!
		</p>
		<br/><br/>
				<p style="text-align:center;">
				<img src="/static/img/502.jpg" />
			</p>
{% endblock %}