{% extends "site_base.html" %}
{% load i18n %}

{% block title %}Error | poetry.party{% endblock %}
	

{% block content_header %}
	Your request has produced an error :(
{% endblock %}

{% block content %}

		<p>
			Please  <a href="/contact/">let us know</a> about this!!
		</p>

		<br/><br/>
				<p style="text-align:center;">
				<img src="/static/img/502.jpg" />
			</p>
{% endblock %}