{% extends "site_base.html" %}
{% load i18n %}

{% block title %}Poems by {{ user }}{% endblock %}
	

{% block content_header %}
	Poems <a href="/accounts/{{user}}/">{{ user }}</a> has participated in
{% endblock %}

{% block content %}
		<p>
			<ul class="arrows">
				{% for poem in poems %}
					<li><a href="/poems/view/{{poem.id}}">{{poem.title}}</a></li>
				{% endfor %}
			</ul>
		</p>
{% endblock %}