{% extends "site_base.html" %}
{% block title %} New Poem {% endblock %}

{% block dj_head %}
	{% include "dj_head_jquery.html" %}
{% endblock %}


{% block left_bar %}
	<div id="left">
		<h1>Your Poems</h1>
		<div id="yourpoems">{% autoescape off %}{{ yourpoems }}{% endautoescape %}</div>
	</div>
{% endblock %}

{% block content_header %} New Poem-Session{% endblock %}

{% block content %}
	<!--[if IE]><p style="color:#FF0000">It appears that you are using Internet Explorer.
	There is a known bug where this form <b>does not work</b> on any version of Internet Explorer
	(however, the rest of the site should work fine; you can join other poems and participate that way).
	We would recommend using another browser like <a href="http://www.mozilla.org/en-US/firefox/" target="_blank">Firefox</a> anyways!
	</p><![endif]-->
	<p><blockquote>&laquo; <a href="/">Home</a> | <a href="/instructions/">Instructions</a> &raquo;</blockquote></p>
	{% if user.is_authenticated %}
		<form action="" method="post" accept-charset="utf-8">
			
				{% csrf_token %}
			    {{ main_form.non_field_errors }}
			    <table border='0'>
				    {% for field in main_form %}
				    	<tr>
						    <td>
							    <b>{{ field.label_tag }}</b><br/>
							    <p class="smaller">{{ field.help_text }}</p>
							</td>
							<td>
							    {{ field }}
							    {% if field.errors %}
							    	<p class="smaller">{{ field.errors }}</a>
							    {% endif %}
						    </td>
					    </tr>
				    {% endfor %}
				</table>
			
			
			<div class="hiddenextra" id="poem_options_form">
				<form action="" method="post">
					{% csrf_token %}
				    {{ options_form.non_field_errors }}
				    <table border='0'>
					    {% for field in options_form %}
					    	<tr>
					    		{% if field.name == "related_poem" %}
								    <td colspan="2">
									    <span>
									    	<b>{{ field.label_tag }}</b>
									    </span>
									    <span class="smaller">
										    {{ field }}
										    {% if field.errors %}
										    	{{ field.errors }}
										    {% endif %}
										</span>
										<p class="smaller">{{ field.help_text }}</p>
								    </td>
								{% else %}
									<td class="weirdformat">
									    {{ field }}
		
								    </td>
								    <td>
									    <b>{{ field.label_tag }}</b><br/>
									    <p class="smaller">{{ field.help_text }}</p>
									    {% if field.errors %}
									    	<p class="smaller">{{ field.errors }}</p>
									    {% endif %}
									</td>
								{% endif %}
						    </tr>
					    {% endfor %}
					</table>				

			</div>
			
			<table><tr><td><span><button type="submit" />Create Poem & Start Writing</button></span></td></tr></table>
			
		</form>
		
		
		{% if not options_form_errors %}
			<script>$("#poem_options_form").css("display","none");</script>
		{% else %}
			<script>$("#poem_options_form").show("fast");</script>
		{% endif %}
		<script>
		    $("#id_customized").click(function () {
		    	// If checked
				if ($("#id_customized").is(":checked"))
				{
					//show the hidden div
					$("#poem_options_form").show("fast");
				}
				else
				{
					//otherwise, hide it
					$("#poem_options_form").hide("fast");
				}
		    });
		</script>

	{% else %}
		<p>Only registered users can create a new poem. It only takes a second -- <a href="/accounts/signup/">register here</a>.</p>
		<p class="smaller">Or perhaps you just want to go <a href="/">home</a>?</p>
	{% endif %}
{% endblock %}


