{% extends "site_base.html" %}

{% block title %}Writing {{poem.title}} | poetry.party{% endblock %}
{% block extrahead %}
	<script>
		var images = ["/static/img/meter/0.gif",
		"/static/img/meter/1.gif",
		"/static/img/meter/2.gif",
		"/static/img/meter/99.gif",
		"/static/img/meter/777.gif",];
		for (i = 0; i < preload.length; i++) {
		    images[i] = new Image();
		    images[i].src = preload[i];
		}
 
	</script>

{% endblock %}


{% block left_bar %}{% endblock %}

{% block content_header %}{{poem.title}}{% endblock %}
{% block print %}<div id="printcontainer"> <a href="/poems/print/{{poem.id}}/" target="_blank"><img id="print" src="/static/img/print.png" alt="Print-friendly (and copy-&-paste friendly) view of this poem." /></a> </div> {% endblock %}
{% block content %}
	<div class="wrappa">
		<div id="windeyelid">
			<div class="plike" id="windeye">
				<div id="windeyetext">
					{% autoescape off %}
						
					{% endautoescape %}
					<img id="meterimg" src="/static/img/arrows.gif" alt="Retrieving poem ..." />
				</div>
			</div>
			<div id="metercontainer">
				<div id="meter"><img id="meterimg" src="/static/img/meter/99.gif" alt="Loading..." /></div>
			</div>
		</div>
	</div>
	<div class="wrappa">
		<div class="plike">
			{% if not full_house %}
				<form id="inform" onsubmit="Dajaxice.poetrynet.poems.senditin(Dajax.process,{'input':$('talkbox').value, 'poem_id':{{poem.id}} }, {'error_callback': custom_error}); return false;">
					<div><span id="lastwords" class="notification">Type words & punctuation in the box below.</span><br/></div>
					<div>
						<input type="text" name="talkbox" id="talkbox" class="input" size="46" value="" autocomplete="off" maxlength="1000" />
						<button type="submit" name="submit" id="submit" class="button">Submit</button>
					</div>
				</form>
			{% else %}
			<h2><a class="tooltip" href="#">Poem is still writable, but full.
			<span class="classic">The poem's limit on simultaneous authors has been reached. If you think a user has left the poem, you must <b>refresh the page</b> in order to join.</span></a></h2>
			{% endif %}
		</div>
	</div>
{% endblock %}
{% block right_bar %}
	<div id="right">
		{% include 'right_client.html' %}
	</div>
{% endblock %}

{% block extraright_bar %}
	<div id="extraright">
		{% include 'extraright_client.html' %}
	</div>
{% endblock %}


{% block extrafoot %}

	<script>
	   new Ajax.PeriodicalUpdater('windeyelid', "{% url poems.views.poll id=poem.id %}", {
	     method: 'get', frequency: 1 {% comment %}, decay: 1.1 <-- if we start getting too slow.{% endcomment %}
	   });

	</script>

{% endblock %}
