{% if poem.pub_date %}
	<h1><a class="tooltip" href="#">Authors<span class="classic">All users who interacted with this poem during its writing.</span></a></h1>
	<ul>
		{% for x in poem.authors.all %}
			<li><a href="/poems/by/{{x}}">{{x}}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<h1><a class="tooltip" href="#">Active Authors<span class="classic">All users who have interacted with this poem within the last thirty seconds.</span></a></h1>
	{% if not poem.options.no_user_list %}
		<ul id="ac">
				{% for x in poem.stats.active_authors.all %}
					<li><a href="/poems/by/{{x}}">{{x}}</a></li>
				{% endfor %}
	
		</ul>
	{% else %}
		<p>The Active Authors list was disabled for this poem.</p>
	{% endif %}

	<script>
	   new Ajax.PeriodicalUpdater('ac', "{% url poems.views.userlist id=poem.id %}", {
	     method: 'get', frequency: 4
	   });

	</script>
{% endif %}