{% extends "site_base.html" %}
{% load dajaxice_templatetags %}

{% block title %}{{poem.title}} | poetry.party{% endblock %}
{% block dj_head %}
	{% include "dj_head_prototype.html" %}
{% endblock %}



{% block left_bar %}{% endblock %}

{% block content_header %}{{poem.title}}{% endblock %}
{% block print %}<div id="printcontainer"> <a href="/poems/print/{{poem.id}}/"><img id="print" src="/static/img/print.png" alt="Print-friendly (and copy-&-paste friendly) view of this poem." /></a> </div> {% endblock %}

{% block content %}
	<div class="wrappa">
		<div id="windeyelid">
			<div class="plike" id="windeye">
				<div id="windeyetext">
					{% autoescape off %}
						Retrieving poem ...
					{% endautoescape %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block right_bar %}
	<div id="right">
		{% include 'right_client.html' %}
	</div>
{% endblock %}

{% block extraright_bar %}
	<div id="extraright">
		{% include 'extraright_client.html' %}
	</div>
{% endblock %}


{% block extrafoot %}

	<script>
	   new Ajax.PeriodicalUpdater('windeyelid', "{% url poems.views.getpoem id=poem.id %}", {
	     method: 'get', frequency: 1
	   });

	</script>

{% endblock %}
