{% if user.is_authenticated %}
	<h1>Your poems</h1>
	<div id="yourpoems"></div>
	<script>
	   new Ajax.Updater('yourpoems', "{% url poems.views.yours %}", {
	     method: 'get'
	   });
	</script>
{% else %}
	<h1>Get started</h1>
	<p>Start by <a href="/instructions/">reading the instructions</a>, <a href="/poems/guest/">signing in as a guest</a>, or <a href="/accounts/signup/">registering</a> your username.</p>
{% endif %}