<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>[Printable] {{poem.title}} | poetry.party</title>
	
</head>

<body>
<pre><b>Printable view of <a href="/poems/view/{{poem.id}}">{{poem.title}}</a>  | <a href="/">poetry.party</a></b></pre>
<blockquote>
	<pre><i>by</i> {% for x in poem.authors.all %}{{x}}{% if not forloop.last %},{% endif %} {% endfor %}</pre>
	<blockquote>
		{% if poem.pub_date %}
		<pre><i>Published</i> {{ poem.pub_date }}</pre>
		{% else %}
		<pre><i>Unpublished.</i> Accessed at {{ accessed }}. </pre>
		{% endif %}
	</blockquote>


	<br/>

	<pre><b>{{poem.title}}</b></pre>
	<pre>{% autoescape off %}{{formatted_facade}}{% endautoescape %}</pre>
	</pre>
</blockquote>
</body>