<h1>About</h1>
<p class="smaller">poetry.party is maintained by <b><a href="/contact/">mike</a></b>.
I finished it in early 2012 as part of my senior project at New College of Florida.</p>
<p class="smaller">Please <b><a href="/contact/">contact me</a></b> about any bugs, suggestions, questions, or other comments!</p>
