<h1>About&nbsp;&nbsp;</h1>
{% if poem.pub_date %}
{% else %}
	{% if poem.welcome_message != 'Welcome.' %}
	<p class="smaller">{{poem.welcome_message}}</p>
	<h2>More about this poem</h2>
	{% endif %}
{% endif %}

<ul class="arrows">

	{% if poem.options.max_simultaneous_authors %}
		<li>Max active authors: {{poem.options.max_simultaneous_authors}}</li>
	{% endif %}
	

	
	<li>
		{% if poem.pub_date %}
			Published: {{poem.pub_date}}
		{% else %}
			Created: {{poem.created_date}}
		{% endif %}
	</li>
	
	<li>Views: {{poem.stats.views}}</li>

</ul>
	{% if not poem.pub_date and poem.creator.id == user.id %}
		<p style="text-align:center;"><b><a href="/poems/publish/{{poem.id}}/" >Publish &raquo;</a></b></p>
	{% endif %}