<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>{% block title %} poetry.party {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
	{% block dj_head %} {% include "dj_head_prototype.html" %} {% endblock %}
	{% block extra_head %} {% endblock %}
</head>
<body>
{% block body %}
	<div id="box">
		<div id="head">
			<div>
{#                <a href="/">#}
                  {% include "logo.html" %}
{#                </a>#}

{#				<img id="logo" src="/static/img/logo.png" alt="Welcome to poetry.party." border="0" /></a>#}
			</div>
			<h1>
				{% if user.is_authenticated %}
					Signed in as <a class="subtlelink" href="/accounts/{{ user.username }}">{{ user.username }}</a>
					 |
					<a class="up" href="/accounts/signout" alt="Sign out">Sign Out</a>
				{% else %}
					<a class="up" href="/accounts/signin" alt="Sign in">Sign In</a>
					 |
					<a class="up"  href="/accounts/signup" alt="Sign in">Register</a>
				{% endif %}
					 /
					<a class="up" href="/" alt="Home">Home</a>
			</h1>
		</div>
		{% block left_bar %}
			<div id="left">
				{% include 'left.html' %}
			</div>
		{% endblock %}
		
		<div id="content">
			{% block print %}{% endblock %}
			<h1>{% block content_header %} Look at this stuff {% endblock %}</h1>
			<p>
				{% block content %}
				<h1>Uh oh, someone forgot to set the content.</h1>
				{% endblock %}
			</p>
		</div>
		{% block right_bar %}
			<div id="right">
				{% include 'right.html' %}
			</div>
		{% endblock %}
		{% block extraright_bar %}{% endblock %}
		<br clear="all" />
	</div>

	{% block extrafoot %}{% endblock %}
{% endblock %}
</body>


</html>