{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block content_header %}{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}{% endblock %}

{% block content %}

{% include "redir.html" %}


<form action="" method="post">
  <p>
  <a href="{% url userena_profile_detail user.username %}">{% trans "View profile" %} &raquo;</a><br/>
  <a href="{% url userena_profile_edit user.username %}">{% trans "Edit details" %} &raquo;</a><br/>
    <a href="{% url userena_password_change user.username %}">{% trans "Change password" %} &raquo;</a><br/>
    <a href="{% url userena_email_change user.username %}">{% trans "Change email" %} &raquo;</a><br/>
  </p>
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Change email address" %}</legend>
    {{ form.as_p }}
  </fieldset>
  <input type="submit" value="{% trans "Change email" %}" />
</form>
{% endblock %}
