{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Email verification failed." %}{% endblock %}
{% block content_header %}{% trans "Your email could not be verified.." %}{% endblock %}

{% block content %}
<p>{% trans "Your email could not be verified..." %}</p>
<p>{% trans "You could try changing it again in your account settings." %}</p>
{% endblock %}
