{% extends 'site_base.html' %}
{% load i18n %}

{% block extrahead %}
	{% include "redir.html" %}
{% endblock %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_header %}{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}{% endblock %}

{% block content %}

<form action="" enctype="multipart/form-data" method="post">
  <p>
  <a href="{% url userena_profile_detail user.username %}">{% trans "View profile" %} &raquo;</a><br/>
  <a href="{% url userena_profile_edit user.username %}">{% trans "Edit details" %} &raquo;</a><br/>
    <a href="{% url userena_password_change user.username %}">{% trans "Change password" %} &raquo;</a><br/>
    <a href="{% url userena_email_change user.username %}">{% trans "Change email" %} &raquo;</a><br/>
  </p>
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Edit Profile" %}</legend>
    {{ form.as_p }}
  </fieldset>
  <input type="submit" value="{% trans "Save changes" %}" />
</form>


{% endblock %}