{% extends "site_base.html" %}
{% block title %} Sign In {% endblock %}
{% load i18n %}


{% block content_header %}
	{% if not user.is_authenticated %}Sign In / <a href="/accounts/signup">Register</a>
{% else %}
Already signed in!
{% endif %}
{% endblock %}

{% block content %}
	{% if not user.is_authenticated %}
		<form action="" method="post">
			{% csrf_token %}
		    {{ form.non_field_errors }}
		    <table border='0'>
			    {% for field in form %}
			    	<tr>
			  			{% comment %} Displaying checkboxes differently {% endcomment %}
					    {% if field.name == 'remember_me' %}
						    <td class="checkbox" colspan="2">
						    	<label for="id_{{ field.name }}">
						    			{{ field }} {{ field.label }}
						    	</label>
						    </td>
					    {% else %}
						    <td>
							    {{ field.label_tag }}
							</td>
							<td>
							    {{ field }}
							    {% if field.errors %}
							    	{{ field.errors }}
							    {% endif %}
						    </td>
					    {% endif %}
				    </tr>
			    {% endfor %}
			   	<tr>
			   		<td>
						<input type="submit" value="{% trans "Signin" %}" />
					</td>
					<td class="forgot-password">
						<a href="{% url userena_password_reset %}" title="{% trans "Forgot your password?" %}">
					  		{% trans "Forgot your password?" %}
					  	</a>
					</td>
				</tr>
			</table>
			{% if next %}
				<input type="hidden" name="next" value="{{ next }}" />
			{% endif %}
		</form>
		{% include "guestlink.html" %}
	{% else %}
		<p>Are you trying to <b><a href="/accounts/signout/">sign out</a></b> from {{ user.username }}'s account?</p>
		<p class="smaller">Or perhaps you just want to go <a href="/">home</a>?</p>
	{% endif %}
{% endblock %}
