{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Registration complete!" %}{% endblock %}

{% block content_header %}{% trans "Registration complete!" %}{% endblock %}

{% block content %}
	<p>{% trans "Thank you for registering!" %}</p>
	{% if userena_activation_required %}
		<p>{% blocktrans %}You have been send an e-mail with an activation link to the supplied email.{% endblocktrans %}</p>
		<p class="smaller">{% blocktrans %}We will store your signup information for {{ userena_activation_days }} days on our server; make sure you activate your account before that time is up!{% endblocktrans %}</p>
	{% else  %}
		<p>{% blocktrans %}You can now use the credentials you supllied to <a href="/accounts/signin/"><b>sign in.</b></a>{% endblocktrans %}</p>
	{% endif %}
{% endblock %}
