{% extends "site_base.html" %}
{% block title %} Register {% endblock %}
{% load i18n %}

{% block content_header %} Register {% endblock %}

{% block content %}
	{% if not user.is_authenticated %}
		<form action="" method="post">
			{% csrf_token %}
		    {{ form.non_field_errors }}
		    <table border='0'>
			    {% for field in form %}
			    	<tr>
			  			{% comment %} Displaying checkboxes differently {% endcomment %}
					    {% if field.name == 'tos' %}
						    <td class="checkbox" colspan="2">
						    	<label for="id_{{ field.name }}">
						    			{{ field }} {{ field.label }}
						    	</label>
						    </td>
					    {% else %}
						    <td>
							    {{ field.label_tag }}
							</td>
							<td>
							    {{ field }}
							    {% if field.errors %}
							    	<span class="smaller">{{ field.errors }}</span>
							    {% endif %}
						    </td>
					    {% endif %}
				    </tr>
			    {% endfor %}
			   	<tr>
			   		<td colspan="0">
						<input type="submit" value="{% trans "Sign Up" %}" />
					</td>
				</tr>
			</table>
		</form>
		{% include "guestlink.html" %}
	{% else %}
		<p>You've already registered, {{ user.username }}. Are you trying to <a href="/accounts/signout/">sign out</a> from {{ user.username }}'s account?</p>
		<p class="smaller">Or perhaps you just want to go <a href="/">home</a>?</p>
	{% endif %}
{% endblock %}
